<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Tech Product Reviews</title>
</head>
<body>
<div class="homeContainer">
    <main class="home">
        <img src="/images/blspbg.jpg" alt="homeBackground"/>
        <h2 class="homeTitle">Tech Product Reviews</h2>
        <div class="btn"><a th:href="@{/reviews}">All Reviews</a>
        </div>
    </main>
</div>

<footer>
    <small>&copy; wcci 2022</small>
</footer>
</body>
</html>